<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"}}},"className":"site-content","layout":{"type":"constrained","contentSize":"1440px"}} -->
<main class="wp-block-group site-content" style="margin-top:var(--wp--preset--spacing--80);margin-bottom:var(--wp--preset--spacing--80)">

	<!-- wp:query-title {"type":"archive","style":{"spacing":{"margin":{"top":"0px","bottom":"var:preset|spacing|80"}},"typography":{"textTransform":"uppercase"}},"fontSize":"large"} /-->
	<!-- wp:template-part {"slug":"posts","tagName":"section"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
