/* Button Block */
.wp-block-button.is-style-outline > a.wp-block-button__link,
.wp-block-button a.wp-block-button__link.is-style-outline {
	border: 2px solid;
	padding: 0.7rem 1.2rem;

	&.has-primary-color {
		&:hover,
		&:active,
		&:focus {
			color: var(--wp--preset--color--secondary) !important;
		}
	}
}
